body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

h1, h2 {
    margin: 0.5rem 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 2;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #0073e6;
    color: white;
}

#investment-input-section {
    margin-bottom: 1rem;
}

#investment-input-section input {
    margin-left: 0.5rem;
    padding: 0.5rem;
    width: 200px;
}

#shortlist-section {
    margin-bottom: 1rem;
}

#shortlist-container {
    position: sticky;
    top: 60px; /* Adjust based on your header height */
    background-color: #ffffff;
    z-index: 1;
}

#shortlist-table th, #shortlist-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
}

#shortlist-table th {
    background-color: #0073e6;
    color: white;
}

#shortlist-table {
    position: sticky;
    top: 60px; /* Adjust based on your header height */
    background-color: #ffffff;
    z-index: 1;
    margin-bottom: 20px;
}

.performance-excellent {
    background-color: #4caf50; /* Green */
}

.performance-good {
    background-color: #8bc34a; /* Light Green */
}

.performance-above-average {
    background-color: #cddc39; /* Lime */
}

.performance-average {
    background-color: #ffeb3b; /* Yellow */
}

.performance-below-average {
    background-color: #ffc107; /* Amber */
}

.performance-poor {
    background-color: #ff5722; /* Deep Orange */
}

.volatility-very-low {
    background-color: #4caf50; /* Green */
}

.volatility-low {
    background-color: #8bc34a; /* Light Green */
}

.volatility-low-moderate {
    background-color: #cddc39; /* Lime */
}

.volatility-moderate {
    background-color: #ffeb3b; /* Yellow */
}

.volatility-moderate-high {
    background-color: #ffc107; /* Amber */
}

.volatility-high {
    background-color: #ff5722; /* Deep Orange */
}

#filters {
    display: flex;
    align-items: center;
    gap: 10px;
}

#filters label {
    margin-right: 5px;
}

#favourites-label {
    margin-left: auto;
    display: flex;
    align-items: center;
}
