<!DOCTYPE html>
<html>
<head>
    <title>Fund Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.2/papaparse.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Fund Dashboard</h2>

        <div id="filters">
            </div>

        <div class="tables-container"> 
            <div id="shortlist"> 
                <h2>Shortlist</h2>
                <p>Total Investment: <span id="total-investment">0.00</span>%</p> 
                <table id="shortlist-table">
                    </table>
            </div>
            <table id="fund-table">
                </table>
            <div class="pagination"></div>  
        </div>
        <div class="button-container">
            <button id="add-fund-button">Add Fund</button>
            <button id="bulk-update-button">Bulk Update</button>
        </div>
        <div id="add-fund-modal" class="modal"></div>
        <div id="bulk-update-modal" class="modal"></div>
    </div>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/shortlist.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>
